# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('demo01.csv')

df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [15]:

# 1. Criar um dataframe com os nomes e tipos de dados de cada variável
metadados = pd.DataFrame({'variavel': df.columns, 'tipo_dados': df.dtypes})

# 2. Adicionar uma coluna com o número de categorias de cada variável
qtd_categorias = []
for coluna in df.columns:
    qtd_categorias.append(df[coluna].nunique())
metadados['qtd_categorias'] = qtd_categorias

print(metadados)

# 3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

colunas_quali = []

for coluna in df.columns:
    if df[coluna].dtype == 'object' and df[coluna].nunique() > 2:
        colunas_quali.append(coluna)

df_dummies = pd.get_dummies(df, columns=colunas_quali, drop_first=True)

df_dummies.head()

                                    variavel tipo_dados  qtd_categorias
sexo                                    sexo     object               2
posse_de_veiculo            posse_de_veiculo     object               2
posse_de_imovel              posse_de_imovel     object               2
qtd_filhos                        qtd_filhos      int64               8
tipo_renda                        tipo_renda     object               5
educacao                            educacao     object               5
estado_civil                    estado_civil     object               5
tipo_residencia              tipo_residencia     object               6
idade                                  idade    float64            5298
tempo_emprego                  tempo_emprego    float64            3005
possui_celular                possui_celular      int64               1
possui_fone_comercial  possui_fone_comercial      int64               2
possui_fone                      possui_fone      int64               2
possui_email                    possui_email      int64               2
qt_pessoas_residencia  qt_pessoas_residencia    float64               9
mau                                      mau       bool               2

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,M,Y,Y,0,58.832877,3.106849,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
1,F,N,Y,0,52.356164,8.358904,1,0,1,1,...,1,0,0,1,0,1,0,0,0,0
2,F,N,Y,0,52.356164,8.358904,1,0,1,1,...,1,0,0,1,0,1,0,0,0,0
3,M,Y,Y,0,46.224658,2.106849,1,1,1,1,...,0,1,0,0,0,1,0,0,0,0
4,F,Y,N,0,29.230137,3.021918,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [16]:
#Continuando com a df_dummies anterior

df_dummies['sexo'] = df_dummies['sexo'].map({'M': 1, 'F': 0})
df_dummies['posse_de_veiculo'] = df_dummies['posse_de_veiculo'].map({'Y': 1, 'N': 0})
df_dummies['posse_de_imovel'] = df_dummies['posse_de_imovel'].map({'Y': 1, 'N': 0})

print(df_dummies.head())

df_dummies.dtypes

   sexo  posse_de_veiculo  posse_de_imovel  qtd_filhos      idade  \
0     1                 1                1           0  58.832877
1     0                 0                1           0  52.356164
2     0                 0                1           0  52.356164
3     1                 1                1           0  46.224658
4     0                 1                0           0  29.230137

   tempo_emprego  possui_celular  possui_fone_comercial  possui_fone  \
0       3.106849               1                      0            0
1       8.358904               1                      0            1
2       8.358904               1                      0            1
3       2.106849               1                      1            1
4       3.021918               1                      0            0

   possui_email  ...  educacao_Secondary / secondary special  \
0             0  ...                                       1
1             1  ...                                       1
2             1  ...                                       1
3             1  ...                                       0
4             0  ...                                       0

   estado_civil_Married  estado_civil_Separated  \
0                     1                       0
1                     0                       0
2                     0                       0
3                     1                       0
4                     1                       0

   estado_civil_Single / not married  estado_civil_Widow  \
0                                  0                   0
1                                  1                   0
2                                  1                   0
3                                  0                   0
4                                  0                   0

   tipo_residencia_House / apartment  tipo_residencia_Municipal apartment  \
0                                  1                                    0
1                                  1                                    0
2                                  1                                    0
3                                  1                                    0
4                                  1                                    0

   tipo_residencia_Office apartment  tipo_residencia_Rented apartment  \
0                                 0                                 0
1                                 0                                 0
2                                 0                                 0
3                                 0                                 0
4                                 0                                 0

   tipo_residencia_With parents
0                             0
1                             0
2                             0
3                             0
4                             0

[5 rows x 29 columns]

sexo                                        int64
posse_de_veiculo                            int64
posse_de_imovel                             int64
qtd_filhos                                  int64
idade                                     float64
tempo_emprego                             float64
possui_celular                              int64
possui_fone_comercial                       int64
possui_fone                                 int64
possui_email                                int64
qt_pessoas_residencia                     float64
mau                                          bool
tipo_renda_Pensioner                        uint8
tipo_renda_State servant                    uint8
tipo_renda_Student                          uint8
tipo_renda_Working                          uint8
educacao_Higher education                   uint8
educacao_Incomplete higher                  uint8
educacao_Lower secondary                    uint8
educacao_Secondary / secondary special      uint8
estado_civil_Married                        uint8
estado_civil_Separated                      uint8
estado_civil_Single / not married           uint8
estado_civil_Widow                          uint8
tipo_residencia_House / apartment           uint8
tipo_residencia_Municipal apartment         uint8
tipo_residencia_Office apartment            uint8
tipo_residencia_Rented apartment            uint8
tipo_residencia_With parents                uint8
dtype: object

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [20]:
tabela_cruzada_email = pd.crosstab(df_dummies['possui_email'], df_dummies['mau'], normalize='index')

tabela_cruzada_veiculo = pd.crosstab(df_dummies['posse_de_veiculo'], df_dummies['mau'], normalize='index')


def formatar_percentual(valor):
    return "{:.2f}%".format(valor * 100)
    
tabela_cruzada_email = tabela_cruzada_email.applymap(formatar_percentual)
tabela_cruzada_veiculo = tabela_cruzada_veiculo.applymap(formatar_percentual)

print(tabela_cruzada_email)
print(tabela_cruzada_veiculo)

# A diferença de inadimplentes dos que possuem ou não e-mail é maior do que a diferença daqueles que possuem ou não veículo.
# Isso sugere que a variável de 'possui_email' é um pouco mais poderosa para prever a probabilidade de inadimplência do que a variável 'posse_de_veículo'
# No entanto, acredito que nenhuma das 2 seja a variável ideal para prever a probabilidade de inadimplência.

mau            False   True
possui_email
0             97.63%  2.37%
1             97.97%  2.03%
mau                False   True
posse_de_veiculo
0                 97.57%  2.43%
1                 97.79%  2.21%

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [21]:
df_dummies.to_csv("df_dummies.csv", index=False)